<div class="well">
    <a routerLink="/lugares/">Lugares</a> / contacto
</div>
<div class="container">
    <label>Nombre</label>
    <input type="text" class="form-control"/> 
    <br/>
    <label>Email</label>
    <input type="email" class="form-control"/>    
    <br/>
    <label>Mensaje</label>
    <textarea type="text" class="form-control"></textarea>    
    <hr>
    <a class="btn btn-primary">Enviar</a>
    <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>