<div class="mapa">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
            <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
    </agm-map> 
</div>
      
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Lugares cercanos</h3>
            <a class="btn btn-success" routerLink="/crear">Crear nuevo negocio</a>
        <ul class="list-group">
            <ng-container *ngFor="let lugar of lugares">
                    <li class="list-group-item">
                            <a routerLink="/detalle/{{lugar.id}}">
                                <h3>{{lugar.nombre | lowercase}}</h3>
                            </a>
                    <small class="detalleFecha">Creado: {{lugar.id | date:'shortTime' | uppercase}}</small>
                    <p [innerHtml]="lugar.descripcion | linkfystr" class="detalle"></p>
                </li>
            </ng-container>
        </ul>
        </div>
        <div class="col-md-4">
        <h3>Destacados</h3>
        </div>
    </div>
</div>