<div class="well">
    <a routerLink="/lugares/">Lugares</a> / {{lugar.nombre}}
</div>
<div class="container">
    <h1>{{lugar.nombre}}</h1>
    <small><span class="label label-primary"> {{lugar.distancia}}</span> km</small>
    <br>
    <br>
    <div class="well">
            <h4>Plan: {{lugar.plan}}</h4>
            <p>{{lugar.description}}</p>
    </div>
</div>