<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Square!</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <router-outlet></router-outlet>