<div class="well">
    <a routerLink="/lugares/">Lugares</a> / crear
</div>
<div class="container">
    <label>Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.nombre" />    
    <br/>
    <label>Distancia</label>
    <input type="number" class="form-control" [(ngModel)]="lugar.distancia" />    
    <br/>
    <label>Cercania</label>
    <input type="number" class="form-control" [(ngModel)]="lugar.cercania" />    
    <br/>
    <label>Descripción</label>
    <textarea type="text" class="form-control" [(ngModel)]="lugar.descripcion" ></textarea>    
    <label>Tipo de plan</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.plan"/>    
    <h3>Datos de dirección</h3>
    <label>Calle y Número</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.calle"/>    
    <label>Ciudad</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.ciudad"/>    
    <label>País</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.pais"/>    
    <br/>
    <hr>
    <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
    <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>