/* You can add global styles to this file, and also import other style files */
agm-map{
    height: 300px;
}

body{
    background:linear-gradient(#828BAA,#28245F, #602855);
}

.numero_par{
    /* background-color: aliceblue; */
    color: blue;
}

.container{
    background-color: white;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
}

.container h3{
    color: rgb(199, 233, 25);
}

.list-group{
    padding: 10px;
    border: 0px;
}

.list-group-item{
    background-color: #2E2E3A;
    border: 1px solid rgba(223, 247, 247, 0.5);
}

.navbar{
    background-color: #262E42;
    color: white;
}

.navbar-default{
    border:0px;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
}

.mapa{
    max-width: 700px;
    margin: 0 auto;
    border-radius: 5px;
}

.detalleFecha{
    color: white;
}

.detalle{
    color: white;
}

